* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #f9f9f9fa;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #f2f3f3;
}
button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  background-color: #4666d6;
  height: 50px;
  width: 100%;
}
.header .logo {
  height: 43px;
  width: 45px;
}
.header .logo img {
  height: 100%;
  width: 100%;
  border-radius: 70%;
}
.header .menu {
  height: 43px;
}
.header .menu img {
  height: 100%;
}
.welcome-content {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.welcome-img {
  width: 400px;
}
.welcome-img img {
  height: 100%;
  width: 100%;
  min-width: 250px;
  object-fit: contain;
}

.welcome-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-text .text-content {
  width: 300px;
  margin-bottom: 60px;
}
.text-content p {
  color: #4b4a4a;
  margin-bottom: 20px;
}
h1 {
  font-size: 34px;
  margin-bottom: 50px;
}
.text-content button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #496bdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
