* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #f9f9f9fa;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #f2f3f3;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
  margin-top: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  background-color: #4666d6;
  height: 50px;
  width: 100%;
}
.header .logo {
  height: 43px;
  width: 45px;
}
.header .logo img {
  height: 100%;
  width: 100%;
  border-radius: 70%;
}
.header .menu {
  height: 43px;
}
.header .menu img {
  height: 100%;
}
.welcome-content {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.welcome-img {
  width: 400px;
}
.welcome-img img {
  height: 100%;
  width: 100%;
  min-width: 250px;
  object-fit: contain;
}

.welcome-text {
  width: 75%;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
}
.welcome-text .text-content {
  width: 300px;
  margin-bottom: 60px;
}
.text-content p {
  color: #4b4a4a;
  margin-bottom: 20px;
}
h1 {
  font-size: 34px;
  margin-bottom: 50px;
}
.text-content button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #496bdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4666d6;
  height: 449px;
}
.services h2 {
  color: #f9f9f9fa;
  font-weight: 600;
  font-size: 1.6rem;
  margin-block: 40px;
}
.services-content .services-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.services-list li {
  width: 25%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.services-list li img {
  height: 50px;
  border-radius: 50%;
}
.services-list p {
  margin-top: 30px;
  color: #f9f9f9fa;
}
.services-list button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 40px;
}
.services-list button img {
  height: 30px;
  margin-left: -20px;
  margin-right: 8px;
}

embed {
  width: 100%;
  height: 100%;
}
.exp h2 {
  text-align: center;
  margin-block: 10px;
  border-bottom: 4px solid #496bdb;
}
.exp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.description {
  width: 30%;
  margin: 0 auto;
}
.description h3 {
  margin-bottom: 15px;
}
.exp-img {
  width: 50%;
}
.exp-img img {
  width: 50%;
  object-fit: contain;
  border-radius: 4px;
  border: 1px solid rgba(70, 102, 214, 0.6);
  box-shadow: 0 4px 6px rgba(70, 102, 214, 0.4);
}
.exp-img img:hover {
  transform: scale(1.111);
  transition: all 0.5s ease-in-out;
}
.exp-content p {
  font-size: 0.9rem;
}
@media (max-width: 712px) {
  .description {
    margin-left: 130px;
    width: 100%;
  }
  .exp-content p {
    font-size: 0.8rem;
  }
  .exp-img img {
    display: none;
  }
}
